<div class="navbar navbar-default navbar-fixed-top">
    <!-- brand area of the menu -->
    <div class="navbar-header">
        <a class="navbar-brand" style="font-size:x-large">
            <strong>Razor Samples</strong>
        </a>
    </div>
    <!-- menu: menu root items -->
    <ul class="nav navbar-nav">
        <!-- root menu item-->
        <li> <a href="@Href("~/Default.cshtml")">Home</a></li>
        <!-- create a drop down menu list (sub menus)-->
        <li class="dropdown">
            <!-- toggle root menu item-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls<b class="caret"></b></a>
            <!-- code the actual sub menu items-->
            <ul class="dropdown-menu">
                <li> <a href="@Href("~/Controls/TextBoxes.cshtml")">Text Boxes</a></li>
                <li> <a href="@Href("~/Controls/RadioButtons.cshtml")">Radio Buttons</a></li>
                <li> <a href="@Href("~/Controls/CheckBoxes.cshtml")">Check Boxes</a></li>
                <li> <a href="@Href("~/Controls/DropDownList.cshtml")">Drop Down List</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <!-- toggle root menu item-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DBPages<b class="caret"></b></a>
            <!-- code the actual sub menu items-->
            <ul class="dropdown-menu">
                <li> <a href="@Href("~/DBPages/SingleQuery.cshtml")">Single Query</a></li>
                <li> <a href="@Href("~/DBPages/MultiRecordQuery.cshtml")">Multi Record Query</a></li>
                
            </ul>
        </li>

    </ul>
</div>

